<div id="container">

    <video id="gum" autoplay muted></video>
    <video id="recorded" autoplay loop></video>

    <div>
      <button id="record">Start Recording</button>
      <button id="play" disabled>Play</button>
      <button id="download" disabled>Download</button>
    </div>

  </div>

  <script type="text/javascript">

  </script>